body{
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #333333;
}

form {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 6%;
}
.deletar{
    width: 30%;
}
.butao {
    padding-top: 3%;
    padding-bottom: 3%;
}
.menssagem{
    text-align:left;
    width: auto;
    display: flex;
    justify-content:left;
    flex-direction: column;
    padding-top: 3%;
    background-color:#616161;
}
p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
